<div class="content">
    <div class="banner w-100">
      <img <%=cl_image_tag(@listing.photo, class:"img-responsive", alt:"Responsive image")%>
    </div>
  </div>

  <div class="listing-description col-sm-8">
    <ul class="nav nav-tabs" role="tablist">
      <li role="presentation" class="active">
        <a href="#description"
          aria-controls="description"
          role="tab"
          data-toggle="tab"
          >Description</a>
         </li>
         <li role="presentation">
          <a href="#chef-info"
           aria-controls="chef-info"
           role="tab"
           data-toggle="tab"
          >Chef Info</a>
         </li>
         <li role="presentation">
          <a href="#booking"
           aria-controls="booking"
           role="tab"
           data-toggle="tab"
           >Booking</a>
         </li>
         <li role="presentation">
          <a href="#reviews"
           aria-controls="reviews"
           role="tab"
           data-toggle="tab"
          >Reviews</a>
         </li>
        </ul>
    </div>

    <div class="col-sm-4">
     <%= render "booking_form" %>
    </div>
  </div>
</div>

<!-- Tab panes -->
<div class="tab-content">
 <div role="tabpanel" class="tab-pane active" id="description">

 </div>
 <div role="tabpanel" class="tab-pane top-10" id="features">
  ...
 </div>
 <div role="tabpanel" class="tab-pane" id="notes">
  ...
 </div>
 <div role="tabpanel" class="tab-pane" id="reviews">
  ...
 </div>
</div>
