<div class="footer fixed-bottom">
  <div class="footer-links">
    <a href="https://github.com/SGjunior/rails-book-a-chef" target="_blank">SGjunior<i class="fab fa-github"></i></a>
    <a href="https://github.com/SGjunior/rails-book-a-chef" target="_blank">JackGaark<i class="fab fa-github"></i></a>
    <a href="https://github.com/SGjunior/rails-book-a-chef" target="_blank">Afyaf2<i class="fab fa-github"></i></a>

  </div>
  <div class="footer-copyright">
    This footer is made with <i class="fa fa-heart"></i> at Le Wagon
  </div>
</div>
