<div class="listings">
      <!-- Generate the cards in here -->
        <% current_user.listings.each do |listing| %>

          <%= render 'user/listing_single', listing: listing %>

        <% end %>
    </div>


<script>
// if(!event.mySecretVariableName) {
//    event.preventDefault();
// } else {
//    return; // do nothing, let the event go
// }

  // Smooth scrolling on anchor link click
  document.querySelectorAll('a[data-method="delete"]').forEach(anchor => {
    anchor.addEventListener('click', function (e) {
      this.parentElement.parentElement.remove();
    });
  });




</script>
