.form-control.mx-1.date.required.form-inline {
  display: inline-block;
}

.form-control.mx-1.time.required {
  display: inline-block;
  width:  32%;
  /* justify-content: center */;
}

.mdl-card__title-text {
  /* text-align: center */;
}
.form-holder {
  /* text-align: center */;
}

.form-control.numeric.integer.required {
  width: 50%;
  justify-content: center;
  margin-left: auto;
  margin-right: auto;
}

.form-head {
  text-align: center !important;
  margin: 0px auto !important;
}

.sticky {
  position: fixed;
}

#sticky-form {
  top: 9.1%;
  text-align: center;
  justify-content: center;
  background-color: rgba(224,239,249,.95);
  opacity: 0.8;
  width: 32%;
  visibility: hidden;
  z-index: 99;
}

.btn-sticky {
  background-color: rgba(27,90,114,.9);
  color: white;
  border: 1px solid #469AE0;
  padding: 15px 25px;
  border-radius: 50px;
  font-weight: lighter;
  opacity: 0.6;
}

.btn-sticky:hover {
  color: white;
  opacity: 1;
  transition: background 0.5s ease;
}

.form-control {
  box-shadow:   1px 1px 10px rgba(0, 0, 0, 0.1);
}

.edit-profile-form input.fancy-input {
  width: 100%;
}
