.listing {
  flex-basis: calc(50% - 20px);
  max-height: 350px !important;
  margin: 10px;
  cursor: pointer;
}

.listing.mdl-card a {
  text-decoration: none;
}

.listing-title.mdl-card__title-text {
  color: white;
}

.mdl-card__menu .mdl-button .material-icons {
  color: white;
}

.mdl-card__menu-2 {
  top: 40px !important;
}

.listing-picture {
  height: 200px;
  background-size: cover;
  background-position: center;
}

.listing-title {
  margin-top: 10px;
  font-weight: bold;

}

.listing:hover {
  opacity: 0.8;
}
