#listing-tabs {
  color: white;
  border-bottom: 0 !important;
    li > a:hover {
    background-color: #B5C6D0;
  };
    li.active > a {
    background-color: rgba(221,255,252, 0.6);
    color: white;
  }
  li > a {
    color: white;
    font-weight: medium;
  }
}

/* #listing-tabs{

  color: #E0EFF9;
  background-color: #B9C0DA;
  transition: background 0.5s ease;
} */

.btn-yours {
  color: #B5C6D0;
  border: 1px solid #B9C0DA;
  font-weight: bold;
  padding:15px 25px;
  border-radius: 5px
}

.btn-yours:hover {
  color: white;
  border: 2px solid #B9C0DA;
  background-color: #B9C0DA;
  transition: background 0.5s ease;
}

#tab-card-no-margin {
  margin-top: 20px;
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display:         flex;
  flex-wrap: wrap;
}

#tab-card-no-margin > [class*='col-'] {
  display: flex;
  flex-direction: column;
}
